@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto:800");

html {
    font-family: "Roboto", "sans-serif";
}

fieldset {
    display: flex;
    flex-flow: column;
    max-width: 360px;
    max-height: 480px;
    margin: 0 auto;
}